.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width:500px;
    border:solid;
    height:500px;
}
h1{
    text-align:center;
}
.solution{
 height:100px;
 border:solid;
 margin-top:1rem;
 margin-left: 5rem;
 margin-right:5rem;
}
.grid-container {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-item{
    border:solid;
  }